/* ANIMATIONS */
/* start hidden + shifted down */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

/* when active → fade in + slide up */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


body, html{
    background-color: rgb(25, 20, 20);
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    min-height: 100vh;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
}

.muzieknootjes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 86, 255);
    width: 70%;
    height: 100%;
    z-index: -1; /* Send it to the back */
    pointer-events: none; /* So it doesn’t block buttons */
}
  
.noot-1,
.noot-2,
.noot-3,
.noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
}
  
.noot-1 {
    top: 350px;
    left: 0;
    animation-delay: 0.5s;
}
  
.noot-2 {
    top: 300px;
    left: 30%;
    animation-delay: 1s;
}
  
.noot-3 {
    top: 400px;
    left: 60%;
    animation-delay: 1.5s;
}
  
.noot-4 {
    top: 320px;
    left: 90%;
    animation-delay: 2s;
}
  
@keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
}

button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

.container{
    /* position: relative; */
    text-align: center;
    z-index: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlight{
    /* color: rgb(240, 161, 33); */
    color: rgb(34, 86, 255);
}

.highlightText{
    font-weight: bold;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.introBut{
    background-color: rgb(34, 86, 255);
    font-size: 3vw !important;
    border-radius: 100px;
    color: white;
    padding: 5px;
}

#intro, #duction{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
}










/* //////////////////////////////////////////////////////////////// */
/* SECTION 2 - ABOUT */
.about {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    scroll-snap-align: start;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}

#mainNavbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(43, 43, 43);
    padding: 10px 0px;
    border-radius: 50px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.45s ease, transform 0.45s ease;
}

#mainNavbar.visible {
  opacity: 1;
  transform: translateX(0%) translateY(50%);
  pointer-events: auto;
}

#left {
    display: flex;
    margin-left: 20px;
    align-items: center;
}

.search {
    color: rgb(34, 86, 255);
    font-size: 3vw !important;
    border-radius: 100px;
    padding: 5px;
    margin-right: 20px;
}

#title {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin: 0;
}

.navButtons {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-right: 20px;
}


.navBut {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid white;
    padding: 2.5px;
    background-color: white;
    border-radius: 5px;
}

#email {
    width: 30px;
    height: auto;
}

#linkedin {
    width: 30px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    padding: 2.5px;
}

#github {
    width: 35px;
    height: auto;
    border: 1px solid white;
    border-radius: 100px;
    background-color: white;
}

#github:hover, #linkedin:hover, .navBut:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.img-border{
    display: inline-block;
    /* margin-top: 25px; */
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(45deg, #bb00ff, #0000ff);
}

#prof-pic {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.about-container {
    text-align: center;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 60px;
}

.left-container {
    flex: 1;
    height: auto;
}

.profile-container {
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    padding: 20px;
}

.right-container {
    flex: 2;
    min-width: 0;
    /* background-color: rgb(43, 43, 43);
    border-radius: 10px; */
}

.projects-container {
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.projects-container h1 {
    margin: 0;
}

.about-text {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 5px;
    /* padding: 0 0 10px 0; */
}

#about-title {
    color: white;
    font-size: 2vw;
    margin-bottom: 10px;
}

#about-sub {
    color: rgb(255, 255, 255);
    font-size: 1vw;
    opacity: 0.3;
}

#about-desc {
    color: white;
    font-size: 1vw;
}

.music-container {
  background: linear-gradient(45deg, #bb00ff, #0000ff);          /* background shows above */
  border-radius: 16px;        /* match your iframe rounding */
  padding-top: 5px;
  padding-bottom: 0;
  overflow: hidden;
  margin-top: 15px;
}


/* project carousel */
.carousel-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px 0px 0px;
}

.carousel-item{
    width: auto;
    flex-shrink: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 10px !important;
    border-radius: 10px;
}

.carousel-item:hover {
    cursor: pointer;
    background-color: rgb(62, 62, 62);
}

.carousel-track{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 25px;
    margin: 0;
    padding: 0;
    padding-inline: 0;
}

#project-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    font-size: 1.6vw;
    padding: 0;
    margin: 0;
}

#project-img {
    width: auto;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-name {
    font-size: 1vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

.project-company {
    display: flex;
    align-items: center;
    color: rgb(155, 155, 155);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 0.9vw;
    margin: 0;
    padding: 0;
}

.companyIcon {
    font-size: 1.2vw !important;
    color: rgb(43, 43, 43);
    background-color: rgb(155, 155, 155);
    border-radius: 2px;
    margin-right: 5px;
}

.aboutBut {
    background-color: rgb(34, 86, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 30%;
    left: 90%;
    transform: translate(-50%, 20px); /* start lower */
    
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.aboutBut1 {
    background-color: rgb(34, 86, 255);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 25%;
    left: 90%;
    transform: translate(-50%, 20px); /* start lower */
    
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.projectBut {
    font-size: 2.2vw !important;
}

.img-wrapper:hover .aboutBut{
    opacity: 1;
    transform: translate(-50%, 0);
}

.img-wrapper:hover .aboutBut1{
    opacity: 1;
    transform: translate(-50%, 0);
}

.carouselBtn {
    position: absolute;
    background-color: rgb(25, 20, 20);
    color: rgb(155, 155, 155);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carouselBtn.nextBtn {
    right: 15px;
    z-index: 100;
}

.carouselBtn.prevBtn {
    left: 0px;
    z-index: 100;
}

.carousel-container:hover .carouselBtn.nextBtn {
    opacity: 1;
    transform: translate(-50%, 0);
}

.carousel-container:hover .carouselBtn.prevBtn {
    opacity: 1;
    transform: translate(50%, 0);
}

.hidden {
  display: none;
}

#detail-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    font-size: 2vw;
    padding: 0;
    margin: 0;
}

#detail-image {
    width: auto;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
}

#detail-company {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
}

.companyIconHidden {
    font-size: 1.4vw !important;
    color: rgb(155, 155, 155);
    background-color: rgb(43, 43, 43);
    border-radius: 2px;
    margin-right: 5px;
}

#detail-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
}

#liveBtn, #repoBtn {
    background-color: rgb(34, 86, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1vw;
    margin-top: 10px;
}

#backBtn {
    background-color: #bb00ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1vw;
    margin-top: 10px;
}

/* SKILLS CAROUSEL */
.carousel2-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px 0px 0px;
}

.carousel2-container:hover .carousel2Btn.next2Btn {
    opacity: 1;
    transform: translate(-50%, 0);
}

.carousel2-container:hover .carousel2Btn.prev2Btn {
    opacity: 1;
    transform: translate(50%, 0);
}

.carousel2-track{
    display: flex;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 5px;
    margin: 0;
    padding: 0;
    padding-inline: 0;
}

.skills-container {
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

.skills-container h1 {
    margin: 0;
    padding: 0;
}

#skills-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    font-size: 1.6vw;
    padding: 0;
    margin: 0;
}

.skills-track {
    margin: 0;
    padding: 0;
}

#skill-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
    background-color: rgb(0, 128, 255);
    padding: 5px;
}

#skill-img2 {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 10px;
    background-color: rgb(0, 128, 255);
}

.skill-name {
    font-size: 1vw;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 0;
    margin: 0;
}

.skillsBut {
    background-color: rgb(34, 86, 255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 25%;
    left: 75%;
    transform: translate(-50%, 20px); /* start lower */
    
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-wrapper:hover .skillsBut{
    opacity: 1;
    transform: translate(-50%, 0);
}

.carousel2Btn {
    position: absolute;
    background-color: rgb(25, 20, 20);
    color: rgb(155, 155, 155);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel2Btn.next2Btn {
    right: 15px;
    z-index: 100;
}

.carousel2Btn.prev2Btn {
    left: 0px;
    z-index: 100;
}

.carousel2-container:hover .carousel2Btn.next2Btn {
    opacity: 1;
    transform: translate(-50%, 0);
}

.carousel2-container:hover .carousel2Btn.prev2Btn {
    opacity: 1;
    transform: translate(50%, 0);
}

/* CALENDAR */
.calendar {
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 243px;
    text-align: center;
    color: white;
}

:root {
  --color-calendar-graph-day-bg: #dddbdb;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

.ContributionCalendar-day[data-level='0'] {
    background-color: var(--color-calendar-graph-day-bg);
}

.ContributionCalendar-day[data-level='1'] {
    background-color: var(--color-calendar-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level='2'] {
    background-color: var(--color-calendar-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level='3'] {
    background-color: var(--color-calendar-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level='4'] {
    background-color: var(--color-calendar-graph-day-L4-bg);
}

table.ContributionCalendar-grid {
    margin-bottom: 0pt;
}

table.ContributionCalendar-grid td {
    padding: 4pt;
}

table.ContributionCalendar-grid td span.sr-only {
    display: none;
}

td.ContributionCalendar-label span[aria-hidden='true'] {
    font-size: 8pt;
    left: -1pt;
}

tool-tip {
    display: none;
}

.calendar .width-full > .float-left {
    display: none;
}

.calendar-graph text.wday,
.calendar-graph text.month {
    font-size: 10px;
    fill: #aaa;
}

div.px-md-5 {
    height: 2rem;
}

div.float-right {
    text-align: right;
    padding: 0 14px 10px 0;
    display: inline-block;
    float: right;
}

div.float-right div {
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    position: relative;
    bottom: -1px;
    padding: 0;
}

div.float-right span.sr-only {
    display: none;
}

.contrib-legend .legend li {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.text-small {
    font-size: 12px;
    color: #767676;
}

.calendar-graph {
    padding: 5px 0 0;
    text-align: center;
}

.table-column {
    box-sizing: border-box;
    display: table-cell;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: top;
}

.calendar img.spinner {
    width: 70px;
    margin-top: 50px;
    min-height: 70px;
}

.calendar a {
    display: none;
}

.monospace {
    text-align: center;
    color: #000;
    font-family: monospace;
}

.monospace a {
    color: #1D75AB;
    text-decoration: none;
}

.left.text-muted {
    float: left;
    margin-left: 9px;
    color: #767676;
}
.left.text-muted a {
    color: #4078c0;
    text-decoration: none;
}

.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}

.day-tooltip {
    white-space: nowrap;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    font-size: 12px;
    color: #959da5;
    text-align: center;
    background: rgba(0,0,0,.85);
    border-radius: 3px;
    display: none;
    pointer-events: none;
}
.day-tooltip strong {
    color: #dfe2e5;
}
.day-tooltip.is-visible {
    display: block;
}
.day-tooltip:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 5px;
    height: 5px;
    box-sizing: border-box;
    margin: 0 0 0 -5px;
    content: " ";
    border: 5px solid transparent;
    border-top-color: rgba(0,0,0,.85)
}

text.ContributionCalendar-label {
    fill: #ccc;
    font-size: 11px;
}

@media screen and (max-width: 768px) {
    .table-column {
        display: block;
        width: 100%;
    }
}

/* CREDITS */
.credits{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

.credText{
    margin: 5px;
    text-align: center;
}

.credLink{
    font-size: inherit;
    color: rgb(34, 86, 255);
}

/* CHANGING SCREEN SIZE */
@media screen and (max-width: 800px) {      /* Medium Size */
    #intro, #duction {
        font-size: 4vw;
    }

    .introBut{
        background-color: rgb(34, 86, 255);
        font-size: 4vw !important;
        border-radius: 100px;
        color: white;
        padding: 5px;
    }

    #about-title {
        font-size: 3vw;
        margin-bottom: 10px;
    }

    #about-sub {
        color: rgb(255, 255, 255);
        font-size: 1.4vw;
        opacity: 0.3;
    }

    #about-desc {
        color: white;
        font-size: 1.5vw;
    }

    #project-title {
        font-size: 2.5vw;
    }

    #project-img {
        width: auto;
        height: 180px;
        object-fit: contain;
        border-radius: 10px;
    }

    .project-name {
        font-size: 1.5vw;
    }

    .project-company {
        font-size: 1.5vw;
    }

    .companyIcon {
        font-size: 1.2vw !important;
        color: rgb(43, 43, 43);
        background-color: rgb(155, 155, 155);
        border-radius: 2px;
        margin-right: 5px;
    }

    .companyIconHidden {
        font-size: 2.5vw !important;
        border-radius: 2px;
        margin-right: 5px;
    }

    .carousel-track .projectBut {
        font-size: 5vw !important;
    }

    #detail-text {
        font-size: 1.6vw;
    }

    #liveBtn, #repoBtn {
        font-size: 1.5vw;
    }

    #backBtn {
        font-size: 1.5vw;
    }

    #skills-title {
        font-size: 2.5vw;
    }

    .skill-name {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px) {      /* Small Size --> Will be a singular column */
    /* INTRO SECTION */
    #intro, #duction {
        font-size: 5vw;
    }

    .introBut{
        background-color: rgb(34, 86, 255);
        font-size: 5vw !important;
        border-radius: 100px;
        color: white;
        padding: 5px;
    }

    #left {
        display: flex;
        margin-left: 20px;
    }

    .search {
        color: rgb(34, 86, 255);
        font-size: 6vw !important;
        border-radius: 100px;
        padding: 5px;
        margin-right: 20px;
    }

    #title {
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin: 0;
    }

    .about-container {
        text-align: center;
        z-index: 0;
        display: flex;
        gap: 20px;
        width: 100%;
        margin-top: 60px;
        flex-direction: column;
    }

    #prof-pic {
        width: 150px;
        height: auto;
        border-radius: 10px;
    }

    #about-title {
        font-size: 5vw;
        margin-bottom: 10px;
    }

    #about-sub {
        color: rgb(255, 255, 255);
        font-size: 3vw;
        opacity: 0.3;
    }

    #about-desc {
        color: white;
        font-size: 2.5vw;
    }

    #project-title {
        font-size: 3.5vw;
    }

    .project-name {
        font-size: 2.8vw;
    }

    .project-company {
        font-size: 2.5vw;
    }

    .project-company .material-icons{
        font-size: 3.5vw;
        margin-right: 5px;
    }

    #detail-title {
        font-size: 3vw;
    }

    #detail-company {
        font-size: 2.5vw;
    }

    .companyIconHidden {
        font-size: 3vw !important;
    }

    #detail-text {
        font-size: 2.5vw;
    }

    #liveBtn, #backBtn, #repoBtn {
        font-size: 2.5vw;
    }

    #skills-title {
        font-size: 3.5vw;
    }

    .skill-name{
        font-size: 2.8vw;
    }

    .projectBut {
        font-size: 3.5vw !important;
    }
}